<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label></label>
  Pirate Name: <input id="pirate_name" type ="text" name="pirate[name]">
  Pirate Weight: <input type ="text" name="pirate[weight]">
  Pirate Height: <input type ="text" name="pirate[height]">
 
  <input type="submit">
  
  Ship Name: <input type ="text" name="pirate[ship][][weight]">
  Ship Type: <input type ="text" name="pirate[ship][][type]">
  Ship booty: <input type ="text" name="pirate[ship][][booty]">
  
  Ship Name: <input type ="text" name="pirate[ship][][weight]">
  Ship Type: <input type ="text" name="pirate[ship][][type]">
  Ship booty: <input type ="text" name="pirate[ship][][booty]">
</form>
