<h1>Arg Matey</h1>!
<form action="/pirates" method="post">
  <label for="name"> Pirate Name:</label><br>
  <input id="name" type ="text" name="pirate[name]"><br>
  <label for="weight"> Pirate Weight:</label><br>
  <input id="weight" type ="text" name="pirate[weight]"><br>
  <label for="height"> Pirate Height:</label><br>
  <input id="height" type ="text" name="pirate[height]"><br>
  
  
  <label for="name">First Ship's Name:</label><br>
  <input id="ship_1_name" type ="text" name="pirate[ship][][name]"><br>
  <label for="type">First Ship's Type:</label><br>
  <input id ="ship_1_type" type ="text" name="pirate[ship][][type]"><br>
  <label for="booty">First Ship's Booty:</label><br>
  <input id="ship_1_booty" type ="text" name="pirate[ship][][booty]"><br>
  
  <label for="name">Second Ship's Name:</label><br>
   <input id="ship_2_name" type ="text" name="pirate[ship][][name]"><br>
  <label for="type">Second Ship's Type:</label><br>
  <input id ="ship_2_type" type ="text" name="pirate[ship][][type]"><br>
  <label for="booty"> Second Ship's Booty:</label><br>
  <input id="ship_2_booty" type ="text" name="pirate[ship][][booty]"><br>
  <input type="submit">
</form>
