<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label for="name"> Pirate Name:</label><br>
  Pirate Name: <input id="name" type ="text" name="pirate[name]"><br>
  <label for="name"> Pirate Name:</label><br>
  Pirate Weight: <input type ="text" name="pirate[weight]"><br>
  Pirate Height: <input type ="text" name="pirate[height]"><br>
 
  <input type="submit">
  
  Ship Name: <input type ="text" name="pirate[ship][][weight]">
  Ship Type: <input type ="text" name="pirate[ship][][type]">
  Ship booty: <input type ="text" name="pirate[ship][][booty]">
  
  Ship Name: <input type ="text" name="pirate[ship][][weight]">
  Ship Type: <input type ="text" name="pirate[ship][][type]">
  Ship booty: <input type ="text" name="pirate[ship][][booty]">
</form>
