<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type ="text" name="pirates[name]">
  Pirate Weight: <input type ="text" name="pirates[weight]">
  Pirate Height: <input type ="text" name="pirates[height]">
  Ship Name: <input type ="text" name="pirates[ships][][weight]">
</form>
