<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type ="text" name="pirate[name]">
  Pirate Weight: <input type ="text" name="pirate[weight]">
  Pirate Height: <input type ="text" name="pirate[height]">
  Ship Name: <input type ="text" name="pirate[ships][][weight]">
  Ship Type: <input type ="text" name="pirate[ships][][type]">
  Ship booty: <input type ="text" name="pirate[ships][][booty]">
</form>
